<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Blog Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <div class="navbar-header">
              <p class="navbar-brand">Daily Blog</p>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li id="home" class="item"><a href="/">Home</a></li>
              <li  id="about" class="item"><a href="/about">About</a></li>
              <li   id="contact" class="item"><a href="/contact">Contact</a></li>
          </ul>
      </div>
  </nav>


<body>
<div class="container">